body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  height: 400px;

  background: #2b5870;
  border-radius: 20px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}

.temperature-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.temperature-display {
  display: flex;
  border-radius: 50%;
  color: #ffffff;
  height: 220px;
  width: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border: 3px #ffffff solid;
  transition: background 0.5s;
}

button {
  border-radius: 100px;
  height: 80px;
  width: 80px;
  font-size: 32px;
  color: #ffffff;
  background: rgb(105, 104, 104);
  border: 2px #ffffff solid;
}

#del {
  border-radius: 20px;

  margin: 50px;
  height: auto;
  width: auto;
  padding: 10px;
  font-size: 32px;
  color: #ffffff;
  background: rgb(139, 66, 66);
  border: 2px #ffffff solid;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.neutral {
  background: rgb(184, 184, 184);
}

.cold {
  background: #035aa6;
}

.hot {
  background: #ff5200;
}

.modifyer {
  background: green;
}

.info {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 310px;
  background: #2b5870;
  border-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  list-style-type: none;
  padding: 20px 15px;
  overflow-y: scroll;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}
.info-wrapper {
  position: fixed;
  left: 2em;
  top: 1em;
}

.info-el {
  background: rgb(184, 184, 184);
  padding: 10px 2px;
  margin: 5px;
  border-radius: 8px;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  width: 12px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1b3949;
}

.main-wrapper {
  display: flex;
  width: 100vw;
  justify-content: end;
}

@media (min-width: 320px) {
  .app-container {
    width: 300px;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .info-wrapper {
    position: static;
  }
}

@media (min-width: 550px) {
  .main-wrapper {
    flex-direction: column;
  }

  .info-wrapper {
    position: static;
  }

  .info {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .main-wrapper {
    flex-direction: row;
    margin-right: 100px;
  }
  .info-wrapper {
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .main-wrapper {
    flex-direction: row;
    margin-right: 100px;
  }
  .info-wrapper {
    position: fixed;
  }

  .info {
    width: 700px;
    height: 500px;
  }
}

@media (min-width: 1542px) {
  .app-container {
    width: 700px;
  }
}

@media (min-width: 1742px) {
  .app-container {
    width: 750px;
  }

  .info {
    width: 900px;
    height: 500px;
  }
}
